extends ../shared/template

block content
  h2 New Student

  form(method='post', action='/students')
    input(name='name', type='text', placeholder='John Hancock', autofocu=true)

   button Add Student
