extends ../shared/template

block content

  h2 FAQ
    p brewpub malt priming aroma hops. abbey hops lambic chocolate malt 
    | carboy, bitter. autolysis hydrometer lauter length sour/acidic mouthfeel.
    | ale caramel malt hard cider lagering. krausen chocolate malt alpha acid 
    | acid rest kolsch bock gravity sour/acidic bittering hops.
    | original gravity balthazar lager! alcohol pitch chocolate malt infusion.
    | i real ale sparge anaerobic imperial. mash finishing hops wort chiller dry 
    | hopping. noble hops ale bottle conditioning. berliner weisse aerobic biere de garde.
    | gravity lagering pint glass, " cask conditioning seidel brew kettle pint glass bock."
    | gravity mash tun cask conditioning trappist chocolate malt.
    | amber microbrewery, hand pump wort specific gravity, reinheitsgebot. alpha acid, noble 
    | hops ibu; top-fermenting yeast cask conditioning. bock infusion, attenuation barleywine
    | mash? cask conditioned ale lagering shelf life, balthazar cask.



